---
import '@/styles/globals.css';
import { Button } from '@/components/ui/button';
import { Input } from '@/components/ui/input';
import { Label } from '@/components/ui/label';
import { Image, Picture } from 'astro:assets';
import imgRegister from '@/assets/register.jpeg';
import imgGoogle from '@/assets/icons/google.svg';
import imgApple from '@/assets/icons/apple.svg';
import imgMicrosoft from '@/assets/icons/microsoft.svg';
import { SESSION_COOKIE, createAdminClient } from '../../server/appwrite';
import { ID } from 'node-appwrite';

if (Astro.request.method === 'POST') {
  // Extract the form data
  const data = await Astro.request.formData();
  const email = data.get('email')?.toString();
  const password = data.get('password')?.toString();
  const name = data.get('name')?.toString();

  if (!email || !password || !name) {
    return new Response('Missing email, password, or name', {
      status: 400,
    });
  }

  // Create the admin client
  const { account } = createAdminClient();

  // Create the email password session
  await account.create(ID.unique(), email, password, name);
  const session = await account.createEmailPasswordSession(email, password);

  // Set the session cookie
  Astro.cookies.set(SESSION_COOKIE, session.secret, {
    path: '/',
    expires: new Date(session.expire),
    sameSite: 'strict',
    secure: true,
    httpOnly: true,
  });

  // Redirect to the account page
  return Astro.redirect('/account');
}
---

<div class="w-full lg:grid lg:grid-cols-2 min-h-screen">
  <div class="flex items-center justify-center py-12">
    <div class="mx-auto grid w-[350px] gap-6">
      <div class="grid gap-2 text-center">
        <h1 class="text-3xl font-bold">Sign Up</h1>
        <p class="text-balance text-muted-foreground">
          Enter your information to create an account
        </p>
      </div>
      <form method="POST">
        <div class="grid gap-4">
          <div class="grid gap-2">
            <Label htmlFor="email">Name</Label>
            <Input
              id="name"
              type="name"
              placeholder="Jane Doe"
              autoComplete="name"
              required
            />
          </div>
          <div class="grid gap-2">
            <Label htmlFor="email">Email</Label>
            <Input
              id="email"
              type="email"
              placeholder="jane@example.com"
              autoComplete="email"
              required
            />
          </div>
          <div class="grid gap-2">
            <Label htmlFor="password">Password</Label>
            <Input
              id="password"
              type="password"
              autoComplete="current-password"
              required
            />
          </div>
          <Button type="submit" className="w-full"> Create an account </Button>
          <Button variant="outline" className="w-full justify-start">
            <Image src={imgGoogle} alt="Google logo" class="w-5 h-5 mr-2" />
            <div class="w-full flex justify-center items-center">
              Login with Google
            </div>
          </Button>
          <Button variant="outline" className="w-full flex justify-start">
            <Image src={imgApple} alt="Google logo" class="w-5 h-5 mr-2" />
            <div class="w-full flex justify-center items-center">
              Login with Apple
            </div>
          </Button>
          <Button variant="outline" className="w-full justify-start">
            <Image src={imgMicrosoft} alt="Google logo" class="w-5 h-5 mr-2" />
            <div class="w-full flex justify-center items-center">
              Login with Microsoft
            </div>
          </Button>
        </div>
      </form>
      <div class="mt-4 text-center text-sm">
        Already have an account?{' '}
        <a href="/account/login" class="underline"> Sign in </a>
      </div>
    </div>
  </div>
  <div class="hidden bg-muted lg:block">
    <Picture
      src={imgRegister}
      formats={['webp', 'avif']}
      alt="Account features image"
      class="h-full w-full object-cover dark:brightness-[0.2] dark:grayscale"
    />
  </div>
</div>
